@media (max-width: 600px) {
  .home-behind-content {
    font-size: 74px;
  }
  .des-sub li {
    font-size: 10px;
}


.bbb{
  margin-top: -40px !important;
}
  .nav-button {
    display: none;
  }
  .behind-content-inner h2 {
    font-size: 32px;
  }
  .behind-content-inner p {
    margin-top: 12px;
  }
  .home-row {
    position: absolute;
    margin: auto;
    bottom: 60px;
    left: 8.5%;
  }
  .cat {
    display: flex;
    flex-wrap: wrap;
  }
  .cat-cards {
    flex: 0 0 50%;
    width: 200px;
    display: grid;
    margin: auto;
    place-items: center;
    padding: 0px 10px;
    height: auto;
  }
  .slider-item1 {
    flex: 0 0 calc(100%) !important;
  }
 
  .cat-inner {
    width: 100%;
    padding: 15px 0px 10px;
    background: #ffff;
    border-radius: 10px;
    margin: 15px 0px;
  }
  .cat-cards img {
    border-radius: 5px 5px 0px 0px;
    width: 50px !important;
    height: 50px;
  }
  .sc1 {
    width: 100%;
  }
  .slider-item {
    flex: 0 0 100% !important;
    height: 100% !important;
  }
  .silder-pad {
    margin: 0px !important;
    position: relative;
    overflow: hidden;
  }
  .cust {
    padding: 60px 0px 0px;
  }
  .cust-inner h2 {
    font-size: 22px;
    color: #ffffff;
  }
 
  .faq {
    padding: 40px 20px;
  }

  .trip-home {
    padding: 60px 0px 50px !important;
    margin-top: 0;
    background-attachment: local !important;
  }
  .trip-inner h2 {
    font-size: 12px !important;
  }
  .itinerary-logo-img1 {
    width: 30px !important;
    height: 30px !important;
}
  .trip-inner p {
    font-size: 11px !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #000 !important;
    margin: 10px 0px;
    color: #fff !important;
    font-weight: 400 !important;
  }
  .trip-home h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .col-6 {
    margin: 24px 0px;
  }
  .trip-about::before {
    left: 22px !important;
  }
  .travel-des::before {
    top: -76% !important; 
    right: 0px !important;
  }
  
  .head {
    margin: 0 0 1.5rem !important;
    font-size: 23px !important;
  }
  .travel-des {
    padding: 30px 10px 30px !important;
  }
  .Desitination {
    padding: 20px 0px 10px !important;
  }
  .trip-about {
    display: none;
  }
  .tabgroup div {
    padding: 20px;
  }
  .trip-inner h3 {
    width: 40px !important;
    height: 40px !important;
  }
  .trip-inner h3 > i {
    font-size: 18px;
  }
  .accordion::before {
    height: 96%;
  }
  .ilt-up {
    padding: 0px 0px 50px !important;
  }
  .acc-inner {
    padding: 15px !important;
  }
  .accordion-button {
    font-size: 14px;
    padding: 13px 5px !important;
  }

  .sticky-sidebar {
    padding: 40px 20px 0 !important;
  }
  .trip-form a {
    margin: 30px 0px;
  }
  .slider-item2 {
    flex: 0 0 calc(100%) !important;
    padding: 15px  !important;
  }
  .silder-inner h3 {
    font-size: 12px !important;
  }
  .silder-inner h2 {
    font-size: 20px !important;
    margin-bottom: 0.3rem;
  }

.inner-3{
  margin-top: -11px !important;
}
  .line {
    height: 32px !important;
    margin-top: -34px !important;
  }
  .home-icon-content h3 {
    font-size: 18px !important;
  }
  .home-icon-content h4 {
    font-size: 14px !important;
  }

  .home-icon-content img {
    width: 40px !important;
    height: 40px !important;
  }
  .ai1::before {
    margin-top: 17px !important;
}
  .accordion-button::after {
    width: 0.6rem !important;
    height: 0.8rem !important;
    background-size: 0.6rem !important;
}
  .inner {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  .silder-inner {
    padding: 15px 15px 10px 15px !important;
    background: #ffff;
  }
  .container-fluid {
    width: 100% !important;
  }
  .slider-item1 img {
    height: 200px;
  }
  .silder-inner p > img {
    width: 15px !important;
    height: 15px;
  }
  .silder-inner h4{
    margin-bottom: 0 !important;
  }
  .silder-inner h4 > img {
    width: 13px !important;
    height: 11px !important;
    display: inline-block !important;
  }
  .slide-box .comment {
    font-size: 12px !important;
    box-shadow: none !important;
  }
  .silder-inner p {
    margin: 0 !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
  }
  .silder-inner h4 > img {
    margin-top: -3px !important;
  }
  .slider-item,
  .slider-item1 {
    width: 100%;
  }

  .above-form h2 {
    font-size: 30px;
    margin: 20px 0px;
    text-align: center !important;
    color: #094067;
    font-weight: 500;
  }
  .above-form h3 {
    font-size: 20px;
    color: #00b3ff;
  }
  .form-img{
    display: none !important;
  }
  .form-section a {
    font-size: 16px !important;
  }
  .cust-inner h2 {
    font-size: 20px;
    color: #ffffff;
  }
  .cust-inner h3 {
    font-size: 14px;
    color: #ffffff;
  }
  .upcoming-trips {
    margin-top: 0px;
    padding-top: 20px;
  }
  .footer-text p {
    text-align: left !important;
    font-size: 12px;
  }
  .footer-logo {
    margin-bottom: 10px;
    text-align: center;
  }
  .py-60 {
    padding: 50px 0px;
  }
  .travelgram {
    padding: 40px 0px;
  }
  .footer-social-icon {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .footer-logo img {
    text-align: center;
  }
  .fc-inner p {
    font-size: 10px;
  }
  .fc-inner h3 {
    font-size: 12px;
  }
 
  .footer-widget-heading h3 {
    text-align: start;
    border-bottom: 2px solid;
    font-size: 14px;
  }
  .footer-contact-item span {
    height: 32px;
    width: 32px;
    font-size: 12px;
  }
  .slider-item .silder-inner p {
    margin: 0;
  }
  .footer-widget ul li {
    text-align: start;
    margin-bottom: 5px;
  }
  .footer-contact-item {
    margin-bottom: 8px;
  }
  .footer-widget ul li a {
    font-size: 10px;
  }
  .footer-widget {
    padding: 0px 10px;
    display: grid;
    place-items: start;
  }
  .accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    font-size: 12px !important;
}
  .slider-container {
    padding-bottom: 0px !important;
  }
  
  .accordion-button {
    font-weight: 900 !important;
  }
  /* .prev-btn,
  .next-btn {
    display: none !important;
  } */
  .next-btn {
    right: 20px !important;
    background: #094067;
  }
  .next-btn1 {
    right: 20px !important;
    background: #094067;
  }
  .prev-btn {
    left: 9px;
    width: 55px;
  }
  .next-btn1{
    display: block !important;
  }
  .prev-btn1{
    display: block !important;
  }
  .prev-btn1 {
    left: 19px;
    width: 28px;
  }
  .next-btn:hover {
    background: #00b3ff;
    color: #fff;
  }
  .slider-item1 a {
    width: 81%;
  }
  .nav-link.active {
    display: inline;
  }
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 49% !important;
    height: 55px;
    display: none !important;
  }

  .prev-btn1,
  .next-btn1 {
    position: absolute;
    top: 49% !important;
    height: 55px;
  }
  .tab-con {
    padding: 20px;
    margin-bottom: 28px !important;
  }
  .upcoming-slot h3 {
    font-size: 16px;
  }
  .upcoming-slot h4 {
    font-size: 14px;
  }
  .price h4 {
    font-size: 16px;
  }
  .travel-des a {
    width: 200px;
    margin: auto;
  }
  .travel-des p {
    text-align: justify;
    margin-bottom: 0.2rem !important;
  }
  .trip-inner1 {
    margin: 40px 0px !important;
  }
  .slider-item {
    margin: 0 !important;
  }
  .slider-item1 {
    margin: 0 !important;
  }
  .sc1 {
    width: 100% !important;
  }

  .fs1 {
    padding: 0px 0px 0px 10px;
  }
  .fs1 a {
    font-size: 16px;
  }
  .fs1 p {
    display: none;
  }
  .fs2 {
    padding: 10px 0px 0px;
    justify-content: space-between;
  }
  .fs2 a {
    font-size: 12px;
  }
  .itinerary-logo {
    margin-left: 0px;
}

  .itinerary-logo-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0px 6px 0px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .swiper-slide a {
    width: 98%;
  }
  .swiper-slide img {
    max-height: 200px !important;
    object-fit: cover !important;
    border-radius: 3.8vw;
  }
  .swiper-slide a {
    border-radius: 3.8vw 3.8vw 0px 0vw;
  }
  .categories-inner h2 {
    color: #094067;
    font-size: 14px;
    margin-bottom: 6px;
    text-align: center;
    margin: 10px 0px;
  }
  .categories-inner {
    margin: 0;
  }
  .categories {
    display: grid;
    padding: 20px 10px;
    background: #ffff;
    border-radius: 10px;
    place-items: center;
    align-items: center;
    margin: 0px 0px;
  }
  .quotes img {
    height: 200px;
  }
  .categories-inner p {
    color: #094067;
    font-size: 11px;
    text-align: center;
    margin-bottom: 0;
    line-height: 19px;
  }
  .itinerary-logo p {
    font-size: 12px;
    margin: 10px 5px;
  }
  .itinerary-logo-content p {
    font-size: 10px;
    padding: 0px 8px !important;
  }
  .acc-inner li {
    font-size: 12px;
  }
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
    color: #fff;
    letter-spacing: 7px;
    font-size: 40px;
  }
  .categories-container {
    padding: 40px 0px 0px;
  }
  .testimonial {
    margin-top: 20px;
  }
  #regForm {
    background-color: #ffff;
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
    min-width: 300px;
  }
  .fs-list li {
    margin: 0px 5px;
  }
  .faq {
    margin: -2px;
  }
  .first-section {
    padding: 0;
    justify-content: center !important;
  }
  .fs-list {
    margin-left: 0;
  }
  .menu-none {
    display: block !important;
  }
  #Resume{
    width: 100% !important;
  }
  .form-home{
    background-attachment: local !important;
  }
  .menu-none1 {
    display: none !important;
  }
  .trip-about img {
    width: 100% !important;
  }
  nav {
    background: #4ec0db !important;
    border-top: 1px solid #fff;
  }
  .footer-section {
    padding: 0px 20px;
  }
  .gotoinsta {
    margin-bottom: 40px !important;
    margin-top: 7px !important;
    padding: 5px 0px !important;
    font-size: 15px !important;
    width: 114px !important;
    background: none !important;
    color: black !important;
    border: 2px solid #4ec0db !important ;
  }
  .gotoinsta:hover{
    background:#4ec0db !important;
    color: white !important;
    border-radius: none !important;
  }
  .exicon {
    padding-top: 0px;
  }
  .navbar-brand img {
    width: 100px;
    height: auto;
    padding: 0;
    position: relative;
    margin-top: -14px !important;
    margin-left: 32px !important;
  }
  nav::before {
    display: none;
  }
}
