/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap");
/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(../font/flaticon.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
  margin: 0;
  padding: 0;
}


/* From Internal CSS */



/* Navbar */
nav::before {
  width: 100px;
  height: 102px;
  content: "";
  position: absolute;
  background: #4ec0db;
  bottom: -43px;
  left: -15px !important;
  right: 0;
  margin: 0 auto;
  border-radius: 10px 0 10px;
  transform: rotateZ(45deg);
}

@media (max-width: 600px) {
  .navbar-brand img {
    width: 100px;
    height: auto;
    padding: 0;
    position: relative;
    margin-top: -8px !important;
    margin-left: -35px !important;
  }

  .navbar-brand {
    width: 125px !important;
  }

  #navbarNav {
    margin-top: -26px;
    padding-bottom: 35px !important;
  }

  .call-btn a {
    margin-left: 10px !important;
  }

  .call-btn {
    margin-top: 15px !important;
  }

  #contact {
    display: none;
  }

  .header-social-icon {
    margin-left: 12px !important;
  }

  #navbarNav {
    margin-left: 0px !important;
  }
}

.navbar-brand img {
  width: 80px !important;
  height: auto;
  padding: 0;
  position: absolute;
  left: -12px !important;
  right: 0;
  margin: -35px auto 0;
}

.fa-envelope:hover {
  color: brown !important;
}

.call-btn a {
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 20px;
  color: #4ec0db;
  margin-left: 20px;
  transition: 0.3s all;
}

.call-btn i {
  margin-right: 5px;
}

.call-btn a:hover {
  background-color: #4ec0db;
  border: 2px solid #fff;
  color: #fff;
}


/* >> animations << */

.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* >> Add animation to the badge << */

.animated-badge {
  animation: subtleShake 1.2s ease-in-out infinite;
  display: inline-block;
}

@keyframes subtleShake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  40% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }
}


.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #5e16bd;
  background-image: linear-gradient(90deg, #501aa8, #870de8);
  padding: 1rem 2.5rem;
  width: 25.1rem;
  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}


.butn::before {
  background: #fff;
  content: "";
  height: 55px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: rotate(35deg);
  width: 20px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
  background: #fff;
  content: "";
  height: 8rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 2rem;
}

.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
  left: 50%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 150%;
  opacity: 0.6;
}


.important-notes {
  padding: 30px;
  background: #fff;
  margin-top: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.important-notes h3 {
  margin-bottom: 20px;
}


.trip-home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#moreText {
  visibility: hidden;
}

#readMoreLink {
  visibility: hidden;
}

.arrow-right {
  height: 20px;
  width: 30px;
  margin-left: 10px;
}


.whatapp {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 999;
  animation: fadeInUp1 0.5s ease-in-out forwards;
  display: block !important;
}

.whatapp img {
  width: 50px;
}

.faq {
  background-image: url(assets/img/images/world2.png) !important;
}

/* >> dates update << */

.kodai-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.andaman-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.kerala-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.ooty-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.munnar-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.pondi-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.wayanad-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.chik-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.goa-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.diff i {
  padding: 0 6px 0 0px;
  color: #4ec0db;
  text-shadow: -1.3px 1px #000;
}

.difficulty {
  font-size: 14px;
  font-weight: 700;
}

.sub-diff {
  font-size: 14px;
  font-weight: 600;
}

.diff {
  padding-bottom: 10px;
}

.diff-sec {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.trek-sec {
  display: none;
}

.trek {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.price-sticky {
  position: sticky;
  top: 100px;
  margin-top: 90px;
}

.trip-form a {
  width: 100% !important;
}

.mobile-bottom-bar {
  display: none;
}

@media screen and (max-width:732px) {
  .mobile-bottom-bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden !important;
    padding: 0px 0px 0px 10px;
  }


  .mob-price {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    gap: 10px;
    padding: 10px;
  }

  .mob-price .price-box {
    flex: 2;
  }

  .price-box h6 {
    font-size: 20px !important;
  }

  .price-box h6 span {
    font-size: 16px !important;
  }

  .mob-price .butn {
    flex: 1;
    border-radius: 15px;
  }

  .mob-price .price-amount {
    margin-bottom: 0 !important;
    font-size: 20px;
    font-weight: 700;
    color: #4ec0db;
  }
}

/* >> Itinerary Start << */

.accordion-item.ai1 {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
  overflow: hidden;
}

.accordion-button {
  font-weight: 600;
  font-size: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #f9f9f9;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button .days {
  background-color: #094067;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 50px;
  display: inline-block;
  min-width: 70px;
  text-align: center;
}

.accordion-body ul.acc-inner {
  padding-left: 1.2rem;
  margin: 0;
}

.accordion-body ul.acc-inner li {
  margin-bottom: 8px;
  line-height: 1.6;
}

.itinerary-logo-group {
  margin-bottom: 1rem;
}

.itinerary-logo-img1 {
  width: 20px;
  margin-right: 6px;
}

.itinerary-logo {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  font-weight: 500;
  margin-bottom: 10px;
}

.itinerary-logo p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  color: #444;
}

.itinerary-logo-content p {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px 0;
}

.accordion-button::after {
  display: none !important;
}

.price-card {
  border: 1px solid #00aaff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

.ladakh-button-next,
.ladakh-button-prev {
  color: black;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  z-index: 1000;
  cursor: pointer;
}

.ladakh-button-next {
  right: 10px;
}

.ladakh-button-prev {
  left: 10px;
}

.ladakhSwiper img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.callback-form {
  border: 1px solid #00aaff;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

.callback-form .header {
  background-color: #e6f9ff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  margin: -20px -20px 20px -20px;
}

.callback-form .header h6 {
  color: #00aaff;
  font-weight: bold;
  margin-bottom: 5px;
}

.callback-form .header h5 {
  font-weight: bold;
  color: #000;
}

.form-control::placeholder {
  font-size: 0.9rem;
}

.input-group-text {
  background-color: #f8f9fa;
  border: none;
}

/* >> Ladag card >> */

/* >> title style << */

.line-title {
  position: relative;
  width: 400px;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: #e73700;
}

/* >> Landing page << */

.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
}

.game-section .item {
  margin: 0 15px 20px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}



/* >> responsive css Start << */


/* Tablet screens (md = ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .game-section .item {
    width: 220px;   /* Example adjustment for tablet */
    height: 200px;  /* Optional */

  }
}



@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* >> Game Section << */

  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  /* >> Discover the Beauty of Ladakh Start <<  */

  .game-section {
    padding: 30px 15px 20px;
  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 200px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

/* FOOTER */

@media (max-width: 600px) {
  .footer-text p {
    text-align: left !important;
    font-size: 12px;
  }

}



.sliders-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #222;
  background-color: #f7f7f7 !important;
}


section,
.section {
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
}

.kedar-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.allappey-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.kodai1-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.spiti-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.varkala-dates {
  color: #5f6c7b !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  line-height: 1.3;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #5f6c7b;
  margin-bottom: 0;
}

a {
  color: #444;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  color: #135277;
}

a {
  text-decoration: none !important;
}

a,
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.text-body>a {
  text-decoration: underline;
  color: #212529;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  list-style: none;
}

.pt-15 {
  padding-top: 10px;
}

.pt-10 {
  padding-top: 5px;
}

.mt-60 {
  margin-top: 60px;
}

.py-80 {
  padding: 80px 0px;
}

.my-40 {
  margin: 40px 0px;
}

.my-60 {
  margin: 60px 0px;
}

.my-80 {
  margin: 80px 0px;
}

img {
  height: auto;
  width: 100%;
}

#preloader {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  background: #4ec0db;
  z-index: 99999;
  position: fixed;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  transform: scale(0);
  animation: load 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    transform: scale(1.2);
    opacity: 1;
  }

  80%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.plane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
  animation-delay: -1.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.plane .icon {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 80px;
  transform: rotate(45deg);
}

.loading-off {
  display: none !important;
}

.head {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  margin: 0 0 2rem;
  color: #1f2327;
  line-height: 1.4;
  text-align: center;
}

.sub-head {
  color: #4ec0db;
}

.first-header {
  background: #4ec0db;
  z-index: 1000;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.fs1 {
  display: flex;
}

.fs1 a {
  color: #ffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 20px;
}

.fs1 p {
  margin: 0 20px;
  color: #ffff;
}

.fs1 i {
  margin: 0px 10px 0px 0px;
}

.fs2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs2 a {
  font-size: 16px;
  color: #ffff;
  margin: 0px 10px;
}

.fs-list {
  display: flex;
  margin: 0;
  background: #fff;
  padding: 10px;
  margin-left: 20px;
}

.fs-list li {
  margin: 0px 13px;
}

.fs-list a {
  color: #4ec0db;
}

.btn {
  padding: 10px 30px !important;
  color: #fff !important;
  font-size: 18px !important;
  background: #4ec0db !important;
  transition: 0.3s ease-in-out;
  display: block !important;
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  left: 17px;
  top: -15px;
  background: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 6px;
}

.navbar-brand {
  width: 100px;
}

.navbar-brand img {
  width: 103px;
  height: auto;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: -35px auto 0;
}

.navbar {
  background: #09406700;
  z-index: 999;
  padding: 0 !important;
  position: fixed !important;
  width: 100%;
  transition: 0.5s ease-in-out;
  position: -webkit-sticky;
  position: fixed !important;
  top: 0 !important;

}

/* nav.scrolled {
  background: #4ec0db;
  top: 0;
} */
#navbarNav {
  justify-content: start;
  background: #4ec0db;
}

.nav-link {
  color: #fff !important;
}

.navbar-nav {
  margin: auto;
}

.nav-item {
  padding: 0px 20px;
}

.nav-link.active {
  color: #1f2327 !important;
  transition: 0.1s ease-in;
  text-transform: capitalize;
}

.main-nav a {
  padding: 10px 20px !important;
}

.nav-link:hover {
  color: #0449c4 !important;
}

.nav-btn {
  margin-right: 80px;
}

.trip-home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* padding: 280px 280px 130px;
  margin-top: -127px; */
  position: relative;
}

.trip-home::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.trip-inner {
  text-align: center;
}

.trip-inner h3 {
  border-radius: 50%;
  background: #4ec0db;
  color: #ffff;
  display: grid;
  place-items: center;
  width: 70px;
  height: 70px;
  margin: auto;
}

.trip-inner h3>i {
  font-size: 24px;
}

.trip-inner h2 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.trip-inner p {

  font-size: 16px;
  margin: 10px 0px;
  color: #000000;
  font-weight: 400;
}

.trip-home h1 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
  line-height: 1.3 !important;
  font-size: 46px;
  margin: 86px 0px 60px;
}

.travel-des h3 {
  font-size: 20px;
  margin: 20px 0px 10px 0px;
}

/* .travel-des h2 {
  font-size: 32px;
  margin-top: -36px;

} */

.Desitination {
  padding: 60px 0px 0px;
}


.tab-content {
  border: 2px solid;
  padding: 20px;
}

.tab1 h2 {
  font-size: 20px;
}

.tab2 h2 {
  font-size: 20px;
}

.wrapper {
  margin: 50px auto 0px;
  width: 100%;
  color: #555;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* .tab-section h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
} */

/* .tab-section h1+p {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
} */

/* .tab-section li {
  float: left;
  width: 100%;
} */

.upcoming-slot {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16);
  background: #d8eefe;
  padding: 10px 20px;
  margin: 20px 0px;
}

.slot-closed {
  background: #f2f2f2 !important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16) !important;
}

.upcoming-slot h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #094067;
  margin: 0;
}

.upcoming-slot h4 {
  font-weight: 400;
  padding: 3px 5px 3px 5px;
  background: white;
  font-size: 14px !important;
  line-height: 26px;
  color: #000;
  margin: 0;
}

.slot-closed h3 {
  color: #5f6c7b !important;
}

.slot-closed h4 {
  color: #5f6c7b !important;
}

/* .tab-section a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 0;
  background: #e7e7e7;
  color: #0b0b0b;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
} */

/* .tab-section a:hover {
  background: #0940677b;
} */

.clearfix a.active {
  color: #ffffff;
  background: #094067;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  font-size: 16px;
}

.tabgroup div {
  padding: 30px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); */
  /* margin-top: 20px; */
  border-radius: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  grid-gap: 0px;
}

.wrapper1 {
  margin: 50px auto;
  width: 100%;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}

.tab-section1 h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.tab-section1 h1+p {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}

.tab-section1 li {
  float: left;
  width: 100%;
}

.tab-section1 a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.05);
  color: #4ec0db;
  border-radius: 5px;
}

.tab-section1 a:hover {
  background: #ddd;
}

.clearfix1 a.active {
  color: #ffffff;
  background: #4ec0db;
}

.tabgroup1 div {
  padding: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 20px; */
  border-radius: 5px;
}

.clearfix1:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix1 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  grid-gap: 20px 20px;
}

#slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#slider-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-item {
  flex: 0 0 calc(100% / 5);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  padding: 0px 20px;
}

.slider-item img {
  width: 100% !important;
  border-radius: 0px;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #3330;
  color: #fff;
  border: none;
  outline: none;
  font-size: 35px;
  cursor: pointer;
}

#prev-btn,
#next-btn :hover {
  color: #0b0b0b;
  font-size: 38px;
}

#prev-btn {
  left: 50px;
}

#next-btn {
  right: 50px;
}

.gallery {
  overflow-x: hidden;
  width: 100%;
}

.silder-inner {
  padding: 20px 0px;
}

.silder-inner h2 {
  font-size: 24px;
}

.silder-inner p {
  font-size: 16px;
}

.silder-inner {
  padding: 20px;
  background: #ffff;
}

.silder-pad {
  margin: 0px;
  position: relative;
  overflow: hidden;
}

.slider-item2 img {
  height: 500px;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}

/* .slid-img::after {
  background-color: rgb(12 12 12 / 24%) !important;
  color: #fff !important;
  position: absolute !important;
  inset: 0 !important;
  content: "" !important;
} */

.slid-img {
  transition: 0.3s ease-in-out;
}

.slid-img:hover {
  transform: scale(1.3);
}

.cust-inner h3 {
  font-size: 16px;
  color: #ffffff;
}

.cust-inner h2 {
  font-size: 24px;
  color: #ffffff;
}

.cust-inner {
  position: absolute;
  bottom: 0;
  padding: 20px;
  left: 0;
  /* transform: translateY(100%);
transition: opacity 0.3s ease, transform 0.3s ease; */
}

.slider-item2 {
  flex: 0 0 calc(100% / 5);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  margin: none;
  padding: none;
  box-shadow: none;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 44%;
  z-index: 11;
  transform: translateY(-48%);
  padding: 6px 18px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 63px;
  font-size: 28px;
  cursor: pointer;
}

.prev-btn,
.next-btn :hover {
  font-size: 28px;
}

.prev-btn {
  background: #ffff;
  color: #0b0b0b;
}

.next-btn:hover {
  background: #ffff;
  color: #0b0b0b;
}

.prev-btn:hover {
  background: #4ec0db;
  color: #ffff !important;
}

.next-btn {
  right: 0px;
  background: #4ec0db;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.acc-btn:not(.collapsed) {
  background: #094067 !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  color: #ffffff !important;
}

.slider-item {
  flex: 0 0 calc(100% / 3);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  padding: 20px 20px;
  /* margin: 10px 20px; */
}

.slider-item .silder-inner p {
  border: none !important;
}

.silder-inner h3 {
  font-size: 15px;
  color: #4ec0db;
  font-weight: 400;
}

.silder-inner p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #5f6c7b;
  padding-bottom: 0px !important;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.25);
}

.silder-inner p>img {
  width: 20px !important;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
}

.silder-inner h4 {
  margin-bottom: 0 !important;
}

.silder-inner h4 {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #094067;
  font-weight: 400;
}

.silder-inner h4>img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -9px;
}

.silder-inner span {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #4ec0db;
  margin-left: 5px;
  font-weight: 600;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  margin-bottom: 5px;
}

.g-head {
  margin: 60px 0px;
  text-align: center;
}

.acc-btn {
  padding: 1.5rem 1.5rem !important;
}

.acco-head {
  padding: 0 !important;
}

.acc-item {
  margin-bottom: 25px !important;
}



.Popular-Destination {
  padding: 60px 0px;
}

.similer-trip {
  margin: 60px;
}

.similer-inner {
  margin: 20px 5px;
}

.similer-inner h2 {
  font-size: 24px;
}

.similer-inner p {
  font-size: 16px;
  margin: 15px 0px;
}

.similer-content img {
  border-radius: 10px;
}

.similer-content {
  padding: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px !important;
  }
}

.tab-content {
  border: 0px;
  padding: 20px;
}

.travelgram {
  background: #ffff;
  padding: 110px 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #4ec0db;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ffffff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.single-cta svg {
  color: white;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #ffffff;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 0px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 12px;
  color: #ffffff;
  line-height: 28px;
}

/* .fborder {
  border: 2px solid #fff !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
} */
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg:hover {
  color: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: #dd4b39;
}

.insta-bg:hover {
  color: #c803dd !important;
}

.thread-bg:hover {
  filter: brightness(0);
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 27px;
  position: relative;
}

/* .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #4ec0db;
} */
.footer-widget ul li {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 12px;
}

.footer-widget ul li a:hover {
  transform: scale(1.2);
}

.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #ffffff;
  border: 1px solid #2e2e2e;
  color: #fff;
  border-radius: 65px;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #4ec0db;
  padding: 13px 20px;
  border: 1px solid #ffffff;
  top: 0;
  border-radius: 65px;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #094067db;
  padding: 10px 0;
  display: grid;
  place-items: center;
  place-content: center;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #4ec0db;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footer-cta {
  border-color: #4ec0db;
}

.trip-nav {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.trip-nav button {
  color: #000 !important;
  padding: 10px 10px 15px 10px;
}

.trip-nav button:hover {
  color: #4ec0db !important;
}

.tab-con {
  background: #ffffff !important;
  margin-top: -26px;
  border-radius: 0px;
  padding: 15px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #4ec0db !important;
  /* border-bottom: 4px solid #4ec0db; */
  background: #fff !important;
  border-radius: 0px;
  width: 100%;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  margin: auto;
}

.nav-item {
  padding: 10px 0px 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0d6efd;
}

.ilt-up {
  padding: 60px 0px;
}

.trip-price {
  border: 2px solid;
  margin: 20px 0px;
  padding: 10px 20px;
  display: flex;
  color: #fff;
  border-radius: 37px;
  background: #4ec0db;
  justify-content: left;
}

.trip-price label {
  margin: 0px 0px 0px 10px;
  font-size: 18px;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 16px;
}

input[type="checkbox"]::backdrop {
  background: #4ec0db;
  width: 16px;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
}

.price h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #094067;
  margin: 0;
}

.price p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #3da9fc;
  margin: 0;
}

.trip-form a {
  margin: 30px 0px;
}

/* .inquiry {
  background: #094067 !important;
  color: #fff !important;
} */

.trip-form {
  margin: 40px 0px;
}

.sticky-sidebar {
  padding: 0px 0px 0px 40px;
  position: sticky;
  top: 9vh;
  /* border: 2px solid #d8eefe !important;
  border-radius: 13px !important;
  padding: 20px !important; */
}

.footer-above-content {
  display: flex;
  justify-content: space-between;
}

.footer-above-content img {
  width: 90px;
}

.footer-above-content a {
  padding: 15px 15px 5px 15px;
  background-color: var(--e-global-color-primary);
  border-radius: 50% 50% 50% 50%;
  box-shadow: -1px 10px 63px 0px rgb(87 166 160 / 54%);
  padding: 20px 25px !important;
  transform: rotate(30deg) !important;
  text-decoration: none;
}

.footer-above-content :last-child {
  display: grid;
  place-items: center;
}

.footer-above-content i {
  color: #ffff;
  font-weight: 600;
  font-size: 26px;
}

.footer-above-content :first-child {
  display: flex;
}

.footer-above-content span {
  padding: 0px 0px 0px 20px;
  font-size: 24px;
  color: #fff;
}

.footer-above {
  padding: 50px 0px;
  border-bottom: 2px solid #4ec0db;
}

.newslet {
  font-size: 16px;
  color: #fff;
  margin: 20px 0px;
}

.footer-contact-item {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.footer-contact-item span {
  font-size: 17px;
  color: #094067;
  display: grid;
  place-items: center;
}

.fc-inner {
  padding-left: 10px;
  display: grid;
  place-items: center;
}

.fc-inner p {
  font-size: 14px;
  color: #094067;
  margin: 0;
}

.fc-inner h3 {
  font-size: 12px;
  color: #fff;
  margin: 0;
}

.footer-widget {
  padding: 0px 10px;
}

.home-behind-content {
  text-align: center;
  letter-spacing: 5px;
  position: relative;
  display: grid;
  place-items: center;
  color: #ffffff38;
  font-size: 200px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 2px;
}

.behind-content-inner {
  position: absolute;
  top: 35px;
  display: grid;
  place-items: center;
}

.behind-content-inner p {
  color: #ffffffe2;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.2px;
}

.behind-content-inner h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.2px;
}

.home-icon-content img {
  width: 60px;
  height: 60px;
  filter: invert(1);
  margin: 0px 0px 10px;
}

.home-icon-content h3 {
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 10px 0px;
}

.home-icon-content h4 {
  font-size: 22px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.home-icon-content {
  margin-top: 30px;
}

html {
  scroll-behavior: smooth;
}

.slide {
  margin-bottom: 30px;
  position: relative;
}

/* .slide .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: none;
  color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
} */
.cat-cards {
  color: black !important;
  text-decoration: none !important;
  height: 182px;
  text-align: center !important;
  transition: 0.3s ease-in-out;
  flex: 0 0 calc(100% / 5);
  display: grid;
  place-items: center;
  padding: 0px 10px;
}

.cat {
  display: flex;
}

.cat-inner {
  width: 100%;
  padding: 20px 0px;
  background: #ffff;
  border-radius: 10px;
}

.cat-cards:hover {
  transform: translateY(-5%);
}

.cat-cards p {
  margin: 10px 0px;
}

.cat-cards img {
  border-radius: 5px 5px 0px 0px;
  width: 50px !important;
  height: 50px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #4ec0db !important;
}

/* .owl-dot {
  display: none;
} */
.owl-prev {
  margin-left: -23px !important;
  background: #000 !important;
  width: 45px;
  height: 45px;
  border-radius: 51px !important;
  color: #fff !important;
  display: grid !important;
  place-items: center !important;
}

.owl-next {
  margin-right: -23px !important;
  background: #000 !important;
  width: 45px;
  height: 45px;
  border-radius: 51px !important;
  color: #fff !important;
  display: grid !important;
  place-items: center !important;
}

.testimonials-above {
  padding: 50px;
  margin: 0px 36px;
  background: #4ec0db;
}

.testimonials-above h2 {
  color: #ffff;
  margin: 10px 0px;
  font-size: 30px;
}

.testimonials-above p {
  font-size: 16px;
  color: #fff;
  margin: 10px 0px;
}

.testimonial {
  margin-top: 57px;
}

.testimonials {
  background: #fff;
  text-align: center;
  width: 95%;
  padding-bottom: 0 !important;
  max-width: 600px;
  padding: 2rem !important;
  margin: 0px 35px 20px 35px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 1.5rem;
}

.description {
  font-size: 0.95rem;
  color: #333;
}

.slider-containe {
  margin-top: 2rem;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.sliders {
  display: flex;
  flex: 0 0 1;

  transition: all 0.5s linear;
}

.slide-box {
  width: 100% !important;
  max-height: 600px;
}

.slide-box .comment {
  background-color: #4ec0db;
  color: #fff;
  margin: auto;
  font-size: 0.86rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  font-weight: 400;
  max-width: 450px;
}

.slide-box .comment::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background-color: #4ec0db;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.slide-box img {
  max-width: 87%;
  height: 45%;
  object-fit: cover;
}

.slide-box .name {
  font-size: 1rem;
  margin-top: 30px;
}

.slide-box .job {
  font-size: 0.7rem;
  color: #8d8e97;
  font-weight: 400;
}

.control-slider {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: #fff;
  line-height: 40px;
  color: #4ec0db;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.star {
  display: flex;
  justify-content: center;
  margin-right: 32px;
  margin-top: 0;
  align-items: center;
}

.star i {
  color: #fff500;
}

.above-form h3 {
  font-size: 24px;
  color: #10b3ff;
}

.above-form h2 {
  font-size: 25px !important;
  margin: 38px 0px 20px 0px;
  text-align: center !important;
  color: #1f2327;
}

.form-section input {
  font-size: 15px;
  font-weight: 300;
  background-color: #4ec0db1f;
  border: 2px solid #4ec0db1f;
  border-radius: 10px;
  /* padding: 12px 20px; */
  font-weight: 400;
  color: #777;
  margin-bottom: 0;
  height: 30px;
  margin: 10px 0px;
  box-shadow: none;
  width: 87%;
}

.form-section textarea {
  font-size: 15px;
  font-weight: 300;
  background-color: #4ec0db1f;
  border: 2px solid #4ec0db1f;
  border-radius: 10px;
  padding: 12px 20px;
  font-weight: 400;
  color: #777;
  margin-bottom: 0;
  margin: 10px 0px;
  box-shadow: none;
  width: 87%;
}

.form {
  padding: 0px 30px;
}

.form-section button {
  margin: 10px 0px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-section button>i {
  margin: 0px 10px 0px 0px;
}

.form-section input:focus {
  outline: 0px solid !important;
  border: 2px solid #4ec1db0d !important;
  /* -moz-outline-style: none !important; */
  border-color: none !important;
  background-color: #4ec0db0f;
  box-shadow: none !important;
}

.quotes {
  /* background: url(/assets/img/images/sea-travel.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #fff;
}

/* .quotes::before {
  position: absolute;
  content: "";
  inset: 0;
} */
/* @keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
} */
.quotes img {
  width: 100%;
  text-align: center;
  height: 350px;
  object-fit: cover;
  background-size: contain;
  background-position: center;
}

.cust {
  padding: 60px 23px 60px;
}

#regForm {
  background-color: #ffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  position: relative;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #000;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.in-in {
  border: none !important;
  width: 35px;
  font-size: 25px;
  padding: 0px 10px;
}

.in-in:focus {
  outline: 1px solid !important;
  border: none !important;
  /* -moz-outline-style: none !important; */
  border-color: none !important;
  box-shadow: none !important;
}

.dec,
.inc {
  font-size: 18px;
  color: #0b0b0b;
  cursor: pointer;
  display: grid;
  place-items: center;
  margin: 0;
}

tr {
  margin: 0px 20px;
}

th,
.tborder {
  border: 2px solid #3a3a3a;
  padding: 20px;
}

table {
  width: 100%;
}

th {
  font-size: 20px;
}

td {
  font-size: 18px;
}

.phead {
  background: #3a3a3a;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin: 0;
}

input,
textarea {
  border: 3px solid #3a3a3a;
  border-radius: 5px;
  padding: 20px;
}

.above-card {
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 27px;
  padding: 0px 20px;
}

.above-card p {
  background: #094067;
  padding: 0px 13px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  margin: 0;
  display: grid;
  place-items: center;
}

.above-card h4 {
  background: #f7921e;
  padding: 0px 13px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  margin: 0;
  display: grid;
  place-items: center;
}

.swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.swiper-container1 {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  transform: translateY(-48%);
  opacity: 1 !important;
  padding: 6px 18px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 100px !important;
  width: 45px;
  height: 45px;
  display: grid;
  background: #4ec0db;
  place-items: center;
  position: absolute;
  top: 61%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1.35 !important;
  cursor: pointer !important;
  pointer-events: visible !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
  letter-spacing: 0px;
}

.swiper-slide img {
  height: 210px;
  object-fit: cover !important;
  border-radius: 0.8vw;
}

.swiper-slide a {
  width: 90%;
  transform: scale(1);
  background: #ffff;
  border-radius: 0.8vw 0.8vw 0px 0vw;
}

.swiper-slide a:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-container1.swiper-slide>img {
  max-height: 230px !important;
}

.swiper-slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide1 img {
  max-height: 200px;
  object-fit: cover !important;
}

.swiper-slide1 a {
  width: 90%;
}

.swiper-container1>.swiper-button-next {
  right: 1% !important;
}

.swiper-container1>.swiper-button-prev {
  left: 1% !important;
}

.strips {
  background: rgba(78, 192, 219, 0.05);
  /* padding: 60px 0px; */
}

.short-trips {
  background: url(/assets/img/images/world-bg.png),
    #f7f7f7 50% / cover no-repeat;
  background-position: center;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.itinerary-logo-content {
  display: flex;
  flex-wrap: wrap;
}

.itinerary-logo-content p {
  font-size: 14px;
  background: linear-gradient(90deg, rgba(207, 166, 96, 1) 34%, rgba(243, 229, 153, 1) 65%, rgba(242, 207, 135, 1) 84%);
  margin: 4px;
  border-radius: 31px;
  padding: 5px 10px;
  text-transform: capitalize;
}

.itinerary-logo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -32px;
}

.itinerary-logo-img {
  width: 30px;
  height: 30px;
}

.itinerary-logo-img1 {
  width: 40px;
  height: 40px;
}

.itinerary-logo p {
  font-size: 14px;
  margin: 20px 0px 20px 0px;
  display: grid;
  place-items: center;
}

.itinerary-logo p>i {
  font-size: 20px;
  color: #4ec0db;
  margin: 10px 0px;
}

.tabs i {
  font-size: 18px;
  margin: 0px 10px;
}

.navbar-light .navbar-toggler {
  outline: none !important;
  border: none !important;
  /* -moz-outline-style: none !important; */
  border-color: none !important;
  box-shadow: none !important;
}

.upcoming-trips {
  background: url(/assets/img/images/world3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.trip-about img {
  width: 264px;
  height: 260px;
  object-fit: cover;
}

.ml11 {
  margin-top: 120px;
}

.transition-arrow {
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) .transition-arrow {
  transform: rotate(180deg);
}


.letters {
  font-size: calc(1em + 4vmin);
  font-weight: 900;
  color: tomato;
  --x-offset: -0.025em;
  --y-offset: 0.0225em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: #4ec0db;

  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);
}

/* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
@supports (text-shadow: 1px 1px 1px 1px black) {
  .letters {
    text-shadow: var(--x-offset) var(--y-offset) 0px 0px var(--background-color),
      var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);
  }
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  color: #fff;
  letter-spacing: 7px;
  font-size: 50px;
  text-transform: uppercase;
}

.home-row {
  position: absolute;
  width: 86%;
  margin: auto;
  bottom: 30px;
  left: 7%;
  right: 7%;
}
.blur-box {
  height: 180px;
}

/* Medium screens (md = ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .blur-box {
    height: 220px; /* example height for tablet screens */
  }
}

/* Large screens and up (lg = ≥992px) */
@media (min-width: 992px) {
  .blur-box {
    height: auto; /* or any height you prefer */
  }
}


.inner2 {
  align-items: baseline;
}

.inner2 img {
  margin-right: 0px !important;
}

.categories {
  display: flex;
  padding: 30px 20px;
  background: #ffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0px !important;
  min-height: 170px;
}

.categories img {
  width: 70px;
  height: 90px;
}

.categories-inner {
  margin: 0px 0px 0px 20px;
}

.categories-inner h2 {
  color: #094067;
  font-size: 20px;
  margin-bottom: 6px;
}

.categories-inner p {
  color: #094067;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
  line-height: 21px;
}

.categories-container {
  padding: 40px 0px 0;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 30px;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  transition: transform 0.5s ease-in-out 0s !important;
}

.slider-item {
  flex: 0 0 calc(100% / 3);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  padding: 20px 20px;
  margin: 10px 20px;
  position: relative;
}

.silder-inner1 p {
  border: none !important;
  margin-bottom: 0px !important;
}

.slider-item2 {
  flex: 0 0 calc(100% / 5);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  margin: none;
  padding: none;
  box-shadow: none;
  position: relative;
}

.cust-inner {
  position: absolute;
  bottom: 0;
  padding: 20px;
  left: 0;
  /* transform: translateY(100%);
transition: opacity 0.3s ease, transform 0.3s ease; */
}

.silder-pad {
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* .silder-pad :hover .cust-inner{
opacity: 1;
transform: translateY(0%);
} */
.slider-item2 img {
  height: 398px;
  transition: 0.3s ease-in-out;
}

.bye-bye p {
  font-size: 14px;
  background: #f2f2f2;
  display: inline-block;
  border-radius: 31px;
  padding: 5px 10px;
  text-transform: capitalize;
}

/* .slid-img::after {
  background-color: rgba(12, 12, 12, 0.4);
  color: #fff;
  position: absolute;
  inset: 0;
  content: "";
} */

.slid-img {
  transition: 0.3s ease-in-out;
}

.slid-img:hover {
  transform: scale(1.3);
}

.cust-inner h3 {
  font-size: 16px;
  color: #ffffff;
}

.cust-inner h2 {
  font-size: 24px;
  color: #ffffff;
}

.slider-item1 {
  flex: 0 0 calc(100% / 4);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 24px;
  margin: 10px 15px;
  position: relative;
}

.slider-item img {
  width: 100%;
  border-radius: 0px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 42%;
  z-index: 11;
  transform: translateY(-48%);
  padding: 6px 18px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 63px;
  font-size: 28px;
  cursor: pointer;
}

.prev-btn1,
.next-btn1 {
  position: absolute;
  top: 42%;
  z-index: 11;
  transform: translateY(-48%);
  padding: 6px 5px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 63px;
  font-size: 28px;
  cursor: pointer;
}

.prev-btn,
.next-btn :hover {
  font-size: 28px;
}

.prev-btn {
  background: #ffff;
  color: #0b0b0b;
}

.prev-btn1 {
  background: #ffff;
  color: #0b0b0b;
}

.next-btn:hover {
  background: #ffff;
  color: #0b0b0b;
}

.prev-btn:hover {
  background: #094067;
  color: #ffff !important;
}

.next-btn {
  right: 0px;
  background: #094067;
}

.next-btn1 {
  right: 0px;
  background: #094067;
}

.gallery {
  overflow-x: hidden;
  width: 100%;
}

.silder-inner {
  padding: 20px 20px 10px;
  background: #ffff;
}

.silder-inner h2 {
  color: #094067;
  font-size: 18px;
  margin-bottom: 0.4rem;
}

.silder-inner p {
  font-size: 16px;
  margin-bottom: 10px;
}

.g-head {
  margin: 60px 0px;
  text-align: center;
}

.acc-btn {
  padding: 1.5rem 1.5rem !important;
}

.acc-btn:not(.collapsed) {
  background: #4ec0db !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  color: #ffffff !important;
}

.acco-head {
  padding: 0 !important;
}

.acc-item {
  margin-bottom: 25px !important;
}

.faq {
  padding: 60px 200px;
}

.similer-trip {
  margin: 60px;
}

.similer-inner {
  margin: 20px 5px;
}

.similer-inner h2 {
  font-size: 32px;
}

.similer-inner p {
  font-size: 16px;
  margin: 15px 0px;
}

.similer-content img {
  border-radius: 0px;
}

.similer-content {
  padding: 20px;
}

.silder-inner h3 {
  font-size: 13px;
  color: #4ec0db;
  font-weight: 700;
}

.line {
  height: 40px !important;
  margin-top: -25px;
  filter: opacity(0.3);
}


.silder-inner p {
  display: flex;
  align-items: center;
  color: #5f6c7b;
  font-size: 12px;
  font-weight: 400;
  color: #5f6c7b;
  padding-bottom: 10px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.25);
}

.silder-inner p>img {
  width: 20px !important;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.silder-inner h4 {
  display: flex;
  align-items: center;
  color: #5f6c7b;
  font-size: 11px;
  font-weight: 400;
}

 .silder-inner h4>img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -7px;
}

.silder-inner span {
  display: flex;
  align-items: center;
  color: #4ec0db;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
}




.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container-fluid {
  width: 95% !important;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.sc1 {
  width: 92%;
}

.sta {
  font-weight: 400 !important;
}

.menu-none {
  display: none !important;
}

.menu-none1 {
  display: inline-flex !important;
}

.swiper-button-next1,
.swiper-button-prev1 {
  border-radius: 10px !important;
  width: 25px !important;
  height: 41px !important;
  background: #4ec0db !important;
  top: 72% !important;
}

.es-header {
  display: none !important;
}

.gotoinsta {
  background: #4ec0db;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  display: grid;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  margin: auto;
  margin-top: -20px;
  position: relative;
  z-index: 99999;
  text-decoration: none;
}

.footer-contact-item i {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 100px;
  font-size: 10px;
}

footer a:hover {
  text-decoration: underline #0449c4 !important;
  color: #fff !important;
}

.exicon {
  width: 12px !important;
  height: 14px !important;
  margin: 0;
  padding-top: 3px;
}

nav {
  height: 70px;
  background: #4ec0db !important;
}

nav::before {
  width: 100px;
  height: 102px;
  content: "";
  position: absolute;
  background: #4ec0db;
  bottom: -43px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px 0 10px;
  transform: rotateZ(45deg);
}

.header-social-icon a>i {
  color: #fff;
  margin: 0px 10px;
  font-size: 18px;
}

.header-social-icon a>i:hover {
  color: #10b3ff;
}

.insta-logo {
  width: 20px;
  margin: 0px 10px;
}

.whatapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  animation: fadeInUp1 0.5s ease-in-out forwards;
  display: none;
}

.whatapp img {
  width: 50px;
}

@keyframes fadeInUp1 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.PIz4HixPF9mDMQqIRfcD {
  display: none !important;
}

.des-sub li {
  color: #fff;
  margin: 0px 1px 0px 16px;
  font-weight: 600;
  font-size: 18px;
}

.des-sub li>i {
  margin: 0 0px 0 10px;
}


.varkala-trek-button {
  display: flex;
  align-items: center;
}


/* ------------------------------- */

.tag-icon-pop {
  display: inline-block;
}

.tag-icon-pop:hover {
  animation: pop 0.6s ease-in-out;
}

@keyframes pop {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}


.download-icon-fade-drop {
  display: inline-block;
  animation: fadeDrop 1.5s ease-in-out infinite;
}

@keyframes fadeDrop {

  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(6px);
    opacity: 0.6;
  }
}

@keyframes bounceRight {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }
}

.bouncing-arrow {
  animation: bounceRight 1s infinite;
}

.special-offer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  position: relative;
  display: inline-block;
}

.old-price {
  color: #888;
  font-size: 20px;
  margin-right: 10px;
  opacity: 0;
  transform: scaleX(0);
  animation: strike-animation 1s ease-out infinite alternate;
}

.old-price strike {
  text-decoration: line-through;
}

.new-price {
  font-size: 28px;
  color: #e74c3c;
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 0.5s ease-out infinite alternate, bounce-in 0.6s ease-out infinite alternate;
}

@keyframes strike-animation {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  50% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* >> Featured Cards  << */

.custom-swiper-container {
  margin: 0 auto;
  border-radius: 10px;
}