# Disable directory listing
Options -Indexes

# Prevent execution of any scripts
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|pl|py|cgi|sh|asp|aspx)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
